.App {
  text-align: center;
}

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.searchBar {
  padding: 0 0 0 10px;
  width: 100%;
}

.portfolio-item {
  margin-bottom: 30px;
}

.loader {
  margin-left: 10px;
}

.loader img {
  width: 75px;
  margin-right: -20px;
}

.my-4 {
  min-height: 500px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
